<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content="text/html; charset=UTF-8" />
    <title>Изменение книги</title>
</head>
<body>
    <header data-th-insert="fragments/general.html :: header"></header>
    <div>Заполните данные книги ниже</div>
    <form data-th-method="PATCH" data-th-action="@{/books/edit}" data-th-object="${book}">
        <input type="hidden" data-th-field="*{id}">
        <input data-th-if="${book.getReader()}" type="hidden" data-th-name="readerId" data-th-value="${book.getReader.getId()}">
        <input type="hidden" data-th-field="*{takenOn}">
        <label for="name">Название:</label>
        <input type="text" id="name" data-th-field="*{name}">
        <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">name error</p>
        
        <label for="year">Год печати: </label>
        <input type="text" id="year" data-th-field="*{year}">
        <p data-th-if="${#fields.hasErrors('year')}" data-th-errors="*{year}">year error</p>
        
        <label for="select">Автор: </label>
        <select id="select" data-th-object="${book.author}" data-th-field="*{id}">
            <option data-th-each="author : ${authors}" data-th-value="${author.getId()}" data-th-text="${author.getShortName()}"></option>
        </select>
        <p data-th-if="${#fields.hasErrors('author')}" data-th-errors="*{author}">author error</p>
        <br/>
        <input type="submit" value="Редактировать">
    </form>
    <form data-th-method="DELETE" data-th-action="@{/books}">
        <input type="hidden" name="id" data-th-value="${book.getId()}">
        <input type="submit" value="Удалить книгу">
    </form>
    <div data-th-replace="fragments/general.html :: footer"></div>
</body>
</html>