<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content="text/html; charset=UTF-8" />
    <title>Книги</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<header data-th-insert="fragments/general.html :: header"></header>
<div>Наши книги: </div>
    <form data-th-action="@{/books/}" data-th-method="get">
        <input type="hidden" name="p" data-th-value="${page}">
        <label for="select">Сортировать по: </label>
        <select id="select" name="s" onchange="this.form.submit()">
            <option data-th-each="k : ${sort.keySet()}" data-th-value="${sort.get(k)}" data-th-text="${k}" data-th-selected="${sort.get(k).equals(sortedBy)}"></option>
        </select>
    </form>
    <div data-th-each="book : ${books}">
        <a data-th-href="@{/books/{id}(id=${book.getId()})}" data-th-text="${book.getName() + ', ' + book.getAuthor().getShortName() + ', ' + book.getYear()}">book</a>
        <a data-th-if="${book.getReader()}" data-th-href="@{/readers/{id}(id=${book.getReader().getId()})}" style="display: inline;">взята</a>
        <p data-th-if="!${book.getReader()}" style="display: inline;">свободна</p>
    </div>
    <br>
    <p data-th-text="${'Текущая страница: ' + page}"></p>
    <div data-th-each="p : ${#numbers.sequence(1, total)}" style="display: inline">
        <a data-th-href="@{/books?p={page}(page = ${p})}" data-th-text="${p}">page</a>
    </div>
    <div>
        <a data-th-href="@{/books/add}">Добавить книгу</a>
        <a data-th-href="@{/authors}">Просмотреть авторов</a>
    </div>
    <div data-th-replace="fragments/general.html :: footer"></div>
</body>
</html>