<!DOCTYPE html>
<html lang="ru">
    <head data-th-fragment="headerfiles">
        <meta charset="UTF-8" />
        <!-- <link data-th-href="@{/css/styles.css}" rel="stylesheet"> -->
        </head>
        <body>
            <div data-th-fragment="header">
                <div style=" text-align: center; width: 102vw; word-spacing: 2em; font-size: 1.5em; background-color: antiquewhite;">
                    <a data-th-href="@{/}" >главная</a>
                    <a data-th-href="@{/readers}">читатели</a>
                    <a data-th-href="@{/books}">книги</a>
                    <a data-th-href="@{/authors}">авторы</a>
                    <a data-th-href="@{/books/search}">поиск книги</a>
                </div>  
            </div>
            <footer data-th-fragment="footer" style="position: fixed; bottom: 0px; height: 5em; text-align: center; background-color: antiquewhite; width: 102vw;">
                <p style="font-size: 1.5em;">Детская библиотека №8 им. А.П. Гайдара. ​Воровского, 58, Киров, Российская Федерация</p>
            </footer>
        </body>
</html>